#cl{
    color: rgb(235, 225, 225);;
}

.b{
    height: 35px;
    width: 40px;margin-top: -1%;
    border: none;
    border-radius: 5px;
    margin-left: -5px;
}
.bp:hover{
  background-color:aliceblue ;
  color:rgb(209, 85, 68) ;
}
.bp{
  height: 50px;
  width: 190px;border-radius: 22px;
  background-color: rgb(209, 85, 68);
  border: none;
  color: aliceblue;font-weight: 600;
}

.hb:hover{
  background-color: rgb(41, 41, 173);
  color: white;
}
.aaa{
  text-decoration: none;
}
.mq{
  color: rgb(255, 255, 255);
}
@media (min-width:1000px) and (orientation:landscape)
{
  
  .mq{
      font-size: 100px;
      font-family: Gilroy; margin-bottom:5rem; text-shadow: 0 2px 4px rgb(65 48 62 / 30%); font-size: clamp(3rem,1rem,7rem);
      text-align: center;
    }


}
@media (max-width:1190px )and (orientation:landscape)
{

    div{
        font-size:smaller;
       
    }

    
 
}



.cr:hover{
margin-top: 15px;
box-shadow: 10px 10px 20px 5px black;
}
.im{

    height: 400px;
    width: 104%;margin-left: -12px;
}

nav:hover{
    background-color: aliceblue;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1em;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
  
  